<footer >
    <div class="f-info">
        <div class="f-info-socials">
            <a href=""> <i class="fa-brands fa-square-facebook"></i></a>
           <a href="https://www.instagram.com/prateek_infiniction/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sachanprateek/"><i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
       
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    <div>
        <script>
            window.embeddedChatbotConfig = {
            chatbotId: "ZSv0slZTnA93_smxkYEaC",
            domain: "www.chatbase.co"
            }
            </script>
            <script
            src="https://www.chatbase.co/embed.min.js"
            chatbotId="ZSv0slZTnA93_smxkYEaC"
            domain="www.chatbase.co"
            defer>
            </script>
    </div>
</footer>