<% layout ("/layouts/boilerplate")%>
<div>
    <h4>Terms and Privacy</h4>
    <ul>
        <b>Payment Terms</b><br>
        <li>
             The accepted forms of payment,  credit cards , net banking , paytam .
        </li>
         <li> 
            make sure you get the receipt after done payment.
         </li>
         <b>Check-In and Check-Out Procedures</b><br>
            <li>
                The  check-in availabe 24 hours , and check-out times will be given according to your check-in time.
            </li>
            <li>
                 for late check-outs, You have to given some extra charges.
            </li>
        <b>Privacy Policy</b><br>
        <li>
            Hotel will ensure your privacy, protect guest information with relevant data protection laws.
        </li>
        <b> Liability and Disclaimers</b><br>
    <li>
        the hotel's liability for loss, damage, or theft of personal belongings in all these cases guest will be fined .
    </li>
    <li>
         Disclaimers regarding unforeseen circumstances, such as natural disasters or technical failures, that may affect reservations or hotel operations.
    </li>
         
    </ul>
</div>

   